.portrait {
  position: relative;
  overflow: hidden;
  width: var(--portrait-lg-w);
  height: var(--portrait-lg-h);
  background-color: black;
  user-select: none;
  pointer-events: none;
  line-height: 0;
  background: #38c17b;
  box-shadow: 0px 0px 15px 0px rgba(140, 208, 173, 0.5),
    0px 0px 45px 0px rgba(140, 208, 173, 0.3);

  animation: appear 0.3s steps(12) forwards;
  z-index: 99;
}

@keyframes appear {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes open {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes close {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
  }
}

.base,
.eyes,
.mouth {
  width: var(--portrait-lg-w);
  height: var(--portrait-lg-h);
  object-position: 0px 0px;
  object-fit: cover;
  position: absolute;
  inset: 0;
  object-position: 0px 0px;
}

.eyes,
.mouth {
  animation-timing-function: steps(3);
}

.eyes {
  clip-path: inset(0 0 55% 0);
  animation-duration: 0.5s;
  animation-direction: alternate;
}

.mouth {
  clip-path: inset(50% 0 0 0);
  animation-duration: 0.4s;
  animation-iteration-count: infinite;
}

.talking {
  animation-name: talk;
}

@keyframes blink {
  100% {
    object-position: top 0 left calc(var(--portrait-lg-w) * 3 * -1);
  }
}

@keyframes talk {
  100% {
    object-position: top 0 left calc(var(--portrait-lg-w) * 3 * -1);
  }
}

.flickerSmall,
.flickerLarge {
  position: absolute;
  background-color: theme(colors.mgs.light);
  top: 0px;
  height: var(--portrait-bar-lg-h);
  width: 100%;
  animation: largeBar 8s linear infinite;
  opacity: 0.3;
  mix-blend-mode: overlay;
  z-index: 9;
}

.flickerLarge {
  animation-timing-function: steps(80);
}

.flickerSmall {
  height: var(--portrait-bar-sm-h);
  animation: largeBar 3.5s steps(60) infinite, flickerOpacity 0.1s infinite;
}

@keyframes largeBar {
  0% {
    top: calc(var(--portrait-bar-lg-h) * -1);
  }
  100% {
    top: 100%;
  }
}

@keyframes flickerOpacity {
  0% {
    opacity: 0.65;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0.65;
  }
}
