.button {
  background-color: theme(colors.mgs.darkest);
  display: flex;
  align-items: center;
  justify-content: center;
  color: theme(colors.mgs.dark);
  padding: 8px 14px;
  line-height: 1;
  margin: 0 auto;

  &:global(.flipped) {
    transform: scaleX(-1);
  }

  &:hover {
    background-color: theme(colors.mgs.dark);
    color: theme(colors.mgs.light);
  }

  @screen md {
    padding: 6px 24px;
  }
}

.button svg {
  height: 16px;
  width: auto;

  @screen md {
    height: 20px;
  }

  @screen lg {
    height: 28px;
  }
}
